<app-navbar></app-navbar>
<div class="header-hero"></div>
<div class="content-pane">
    <div class="name-picture-container">
        <div>
            <img [src]="'assets/nikol.png'" class="about-pic">
        </div>
        <div>
            <h1>{{ 'generic.name' | translate }}</h1>
            <span class="job-title">{{ 'generic.occupation' | translate }}</span>
            <p class="description-paragraph" [innerHTML]="'about.paragraph' | translate">
            </p>
        </div>
    </div>
    <div class="social-links">
        <a href="/assets/files/resume.pdf" target="_blank"><span>CV</span></a><br>
        <a href="https://www.behance.net/nikolyotkova" target="_blank"><span>Behance</span></a><br>
        <a href="https://www.linkedin.com/in/nikol-yotkova-221614204/" target="_blank"><span>Linkedin</span></a><br>
    </div>
    <iframe *ngIf="showVideo" class="nikolche-video" src="https://www.youtube.com/embed/2GvNZRrVbA8" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>