.header-hero {
    height: 150px;
    background-color: #0092bd;
}

.content-pane {
    min-height: 40vh;
    width: 60%;
    margin: 60px auto;
    text-align: justify;
    font-weight: 100;
    color: rgb(34, 34, 34);
    background-color: #ffffff95;
    padding: 10px 20px;
    border-radius: 13px;

    h1 {
        font-weight: 300;
        margin-bottom: 5px;
    }

    .job-title {
        margin-top: 10px;
    }

    .description-paragraph {
        font-weight: 200;
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 1em;
    }

    .nikolche-video {
        margin: 60px auto 30px;
        display: block;
    }

    .social-links {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        margin-top: -10px;
    }

    .social-links>* {
        margin-top: 10px;
        margin-left: 0;
    }

    a {
        font-size: 1.6em;
        color: #0092bd;
    }
}

.social-links a {
    padding: 5px 15px;
    background-color: #0092bd;
    color: #fff;
    border-radius: 5px;
    margin: 0 5px;
}

.social-links a:hover {
    background-color: #0282a8;
}

.social-links a:active {
    background-color: #017294;
}

.social-links a:nth-child(1) {
    margin-left: 0;
}

.name-picture-container {
    display: flex;
    flex-direction: column;
}

.about-pic {
    height: 350px;
    margin: 0 auto;
    display: block;
}

@media (min-width: 821px) {
    .name-picture-container {
        flex-direction: row;
        justify-content: space-between;

        & .about-pic {
            margin: 0;
        }

        & div:nth-child(2) {
            margin-left: 40px;
        }
    }
}

@media (min-width: 320px) {

    /* smartphones, iPhone, portrait 480x320 phones */
    .nikolche-video {
        width: 300px;
        height: 187px;
    }
}

@media (min-width: 641px) {
    .nikolche-video {
        width: 400px;
        height: 237px;
    }
}

@media (min-width: 961px) {
    .nikolche-video {
        width: 700px;
        height: 415px;
    }
}