<div class="header-hero"></div>
<div class="content-pane">
    <h1>Никол Йоткова</h1>
    <span class="job-title">Графичен дизайнер</span>
    <h2>
        Здравейте! Аз съм Никол и обичам да експериментирам с цветовете. Харесва ми да създавам красиви неща, които да носят положителен краен резултат.<br>
        Можете да ме последвате и да разгледате работата ми в социалните мрежи.
    </h2>
    <div class="social-links">
        <a href="https://www.behance.net/nikolyotkova" target="_blank"><span>Behance</span></a><br>
        <a href="https://www.linkedin.com/in/nikol-yotkova-221614204/" target="_blank"><span>Linkedin</span></a><br>
    </div>
    <iframe class="nikolche-video" width="700" height="415" src="https://www.youtube.com/embed/48wfLqXR7v8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>