<app-navbar></app-navbar>
<div *ngIf="project$ | async as project" class="project-{{project.id}}">
    <div class="header-hero"></div>
    <div *ngIf="project.title || project.description" class="content-pane">
        <h1 class="title">
            {{ project.title }}
        </h1>
        <p>{{ project.description }}</p>
    </div>
    <img *ngIf="project.heroImg" [src]="project.heroImg" class="hero-img" id="first-img">
    <img *ngIf="project.logosDescImg" [src]="project.logosDescImg" class="hero-img" id="second-img">
    <div class="content-pane" *ngIf="project.logoDesc">
        <h2 *ngIf="project.logoDesc">
            {{ project.logoDesc }}
        </h2>
    </div>
    <div class="content-pane" *ngIf="project.colorPalette?.length">
        <div *ngIf="project.colorPalette?.length" class="color-palette">
            <ng-container *ngFor="let color of project.colorPalette">
                <div class="color-shape" [ngStyle]="{'background-color': color}"></div>
            </ng-container>
        </div>
    </div>
    <div class="content-pane project-meta" *ngIf="project.font || project.projectDate || project.usedPrograms?.length">
        <div class="col">
            <div class="row">
                <div>
                    <strong>Шрифт:</strong><span class="font">{{ project.font }}</span>
                </div>
                <div>
                    <strong style="float: left">Използвани програми:</strong>
                    <ng-container *ngFor="let iconUrl of project.usedPrograms">
                        <img class="program-icon" [src]="iconUrl">
                    </ng-container>
                </div>
            </div>
            <div class="row">
                <div>
                    <strong>Дата на проекта:</strong><span>{{ project.projectDate }}</span>
                </div>
            </div>
        </div>
    </div>
    <img *ngIf="project.endImage" [src]="project.endImage" class="hero-img" id="third-img">
</div>