@use '../../assets/colors.scss' as *;

.header-hero {
    height: 40vh;
}

.content-pane {
    min-height: 40vh;
    width: 60%;
    margin: 60px auto;
    text-align: justify;
    font-weight: 100;
    color: rgb(34, 34, 34);
    text-align: center;

    h1 {
        font-weight: 300;
        font-size: 3.0em;
    }

    h1.title {
        text-align: center;
        font-weight: bold;
    }

    h2 {
        font-weight: 200;
    }

    p {
        font-size: 1.3em;
        word-spacing: 10px;
    }
}

.project-1 {
    .header-hero {
        background-color: $ny-reddish;
    }
}
.project-2 {
    .header-hero {
        background-color: $ny-pinkish;
    }
}
.project-3 {
    .header-hero {
        background-color: $ny-dark-blue;
    }
}
.project-4 {
    .header-hero {
        background-color: $ny-light-blue;
    }
}
.project-5 {
    .header-hero {
        background-color: $ny-greenish;
    }
}
.project-6 {
    .header-hero {
        background-color: $ny-light-blue;
    }
}
.project-7 {
    .header-hero {
        background-color: $ny-dark-blue;
    }
}
.project-8 {
    .header-hero {
        background-color: $ny-pinkish;
    }
}
.project-1 {
    .header-hero {
        background-color: $ny-reddish;
    }
}