@use "../../assets/colors.scss" as *;

$projectOneColor: #06d7a0;
$projectTwoColor: #aee8e9;
$projectFourColor: #0091bd;
$projectFiveColor: #90ebda;
$projectSixColor: #fc98be;
$projectEightColor: #0091bd;

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    place-content: space-between;
}

.header-hero {
    height: 150px;
}

.content-pane {
    // min-height: 40vh;
    width: 60%;
    margin: 60px auto;
    text-align: justify;
    font-weight: 100;
    color: rgb(34, 34, 34);
    text-align: center;
    padding: 20px 0;

    h1 {
        font-weight: 300;
        font-size: 3em;
    }

    h1.title {
        text-align: center;
        font-weight: bold;
    }

    h2 {
        font-weight: 200;
    }

    p {
        font-size: 1.3em;
        word-spacing: 10px;
    }
}

.hero-img {
    width: 70%;
    display: block;
    margin: 20px auto;
}

.color-palette {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin: 60px 0;

    .color-shape {
        height: 10vh;
        width: 10vh;
        border-radius: 10vh;
    }
}

.project-meta {
    font-size: 1.5em;
    strong {
        margin-right: 10px;
    }
}

.program-icon {
    width: 30px;
    float: left;
    margin: 0 10px;
}

.project-1 {
    .header-hero {
        background-color: $projectOneColor;
    }
}
.project-2 {
    .header-hero {
        background-color: $projectTwoColor;
    }
}
.project-3 {
    .header-hero {
        background-color: $ny-dark-blue;
    }
    #first-img {
        margin-top: 20px;
        margin-bottom: 0;
    }
    #third-img {
        margin-top: 0;
        margin-bottom: 20px;
    }
}
.project-4 {
    .header-hero {
        background-color: $projectFourColor;
    }
}
.project-5 {
    .header-hero {
        background-color: $projectFiveColor;
    }
    .hero-img {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
}
.project-6 {
    .header-hero {
        background-color: $projectSixColor;
    }
}
.project-7 {
    .header-hero {
        background-color: $ny-dark-blue;
    }
    .hero-img {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
}
.project-8 {
    .header-hero {
        background-color: $projectEightColor;
    }
}
