<app-navbar></app-navbar>
<div *ngIf="project$ | async as project" class="project-container project-{{project.id}}">
    <div class="header-hero"></div>
    <div *ngIf="project.title || project.description" class="content-pane">
        <h1 class="title" [innerHTML]="project.title"></h1>
        <p innerHTML="{{ project.description}}"></p>
    </div>
    <div class="content-pane customer-meta first-meta-row"
        *ngIf="project.customer || project.briefProblem || project.aim">
        <div class="customer-meta-container" *ngIf="project.customer">
            <p><strong>{{ project.customer.label }}:</strong> <span innerHTML="{{ project.customer.text }}"></span></p>
        </div>
        <div class="customer-meta-container" *ngIf="project.briefProblem">
            <p><strong>{{ project.briefProblem.label }}:</strong> <span
                    innerHTML="{{ project.briefProblem.text }}"></span></p>
        </div>
        <div class="customer-meta-container" *ngIf="project.aim">
            <p><strong>{{ project.aim.label }}:</strong> {{ project.aim.text }}</p>
        </div>
    </div>
    <div class="content-pane customer-meta second-meta-row" *ngIf="project.challenge || project.feedback">
        <div class="customer-meta-container" *ngIf="project.challenge">
            <p><strong>{{ project.challenge.label }}:</strong> {{ project.challenge.text }}</p>
        </div>
        <div class="customer-meta-container" *ngIf="project.feedback">
            <p><strong>{{ project.feedback.label }}:</strong> {{ project.feedback.text }}</p>
        </div>
    </div>
    <img *ngIf="project.heroImg" [src]="project.heroImg" class="hero-img" id="first-img">
    <img *ngIf="project.logosDescImg" [src]="project.logosDescImg" class="hero-img" id="second-img">
    <div class="content-pane" *ngIf="project.logoDesc">
        <h2 *ngIf="project.logoDesc">
            {{ project.logoDesc }}
        </h2>
    </div>
    <div class="content-pane" *ngIf="project.colorPalette?.length">
        <div *ngIf="project.colorPalette?.length" class="color-palette">
            <ng-container *ngFor="let color of project.colorPalette">
                <div class="color-shape" [ngStyle]="{'background-color': color}"></div>
            </ng-container>
        </div>
    </div>
    <div class="content-pane project-meta" *ngIf="project.font || project.projectDate || project.usedPrograms?.length">
        <div class="col">
            <div class="row">
                <div>
                    <strong>{{ 'projectText.usedFont' | translate}}:</strong><span class="font">{{ project.font
                        }}</span>
                </div>
                <div>
                    <strong style="float: left">{{ 'projectText.programsUsed' | translate}}:</strong>
                    <ng-container *ngFor="let iconUrl of project.usedPrograms">
                        <img class="program-icon" [src]="iconUrl">
                    </ng-container>
                </div>
            </div>
            <div class="row">
                <div>
                    <strong>{{ 'projectText.projectDate' | translate}}:</strong><span>{{ project.projectDate }}</span>
                </div>
            </div>
        </div>
    </div>
    <img *ngIf="project.endImage" [src]="project.endImage" class="hero-img" id="third-img">
</div>