<div class="container">
    <!-- <div class="hz-scroll-container">
        <div class="item item-one"></div>
        <div class="item item-two"></div>
        <div class="item item-three"></div>
        <div class="item item-four"></div>
    </div> -->
    <div class="carousel"
        data-flickity='{ "selectedAttraction": 0.03, "friction": 0.2, "prevNextButtons": false, "pageDots": false }'>
        <div class="carousel-cell">
            <div class="hero-carousel__cell hero-carousel__cell--1">
                <div class="hero-carousel__cell__content">
                    <a [routerLink]="'project'">
                        <p>Визуална идентичност</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="hero-carousel__cell hero-carousel__cell--2">
                <div class="hero-carousel__cell__content">
                    <a href="#">
                        <p>Редизайн на<br>лого</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="hero-carousel__cell hero-carousel__cell--2">
                <div class="hero-carousel__cell__content">
                    <a href="#">
                        <p>Визии за<br>социални мрежи</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="hero-carousel__cell hero-carousel__cell--2">
                <div class="hero-carousel__cell__content">
                    <a href="#">
                        <p>Интерактивни<br>кампании</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="hero-carousel__cell hero-carousel__cell--2">
                <div class="hero-carousel__cell__content">
                    <a href="#">
                        <p>Визии за<br>печатни издания</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="hero-carousel__cell hero-carousel__cell--2">
                <div class="hero-carousel__cell__content">
                    <a href="#">
                        <p>Дизайн на<br>външна реклама</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="hero-carousel__cell hero-carousel__cell--2">
                <div class="hero-carousel__cell__content">
                    <a href="#">
                        <p>Икюстрации и<br>фотографии</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="hero-carousel__cell hero-carousel__cell--2">
                <div class="hero-carousel__cell__content">
                    <a href="#">
                        <p>Личен<br>брандинг</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>