<div #videoWrapper class="container video-preview">
    <video #video [muted]="true" autoplay playsinline id="video">
        <source src="/assets/videos/video-1655737333.mp4" type="video/mp4">
    </video>
    <div #focusContainer class="logo-focus">
        <img src="/assets/logo_retina.png">
        <p>{{ 'generic.occupation' | translate }}</p>
        <div class="action-buttons">
            <a [routerLink]="'about'" class="action-btn-square">{{ 'landing.about' | translate }}</a>
            <a href="javascript:document.getElementById('projects').scrollIntoView(true);" class="action-btn-square">{{
                'landing.projectsRel' | translate}}</a>
        </div>
    </div>
</div>
<div class="navbar-wrapper">
    <app-navbar></app-navbar>
</div>
<div #carouselWrapper id="projects" class="container carousel-wrapper">
    <!-- <div class="hz-scroll-container">
        <div class="item item-one"></div>
        <div class="item item-two"></div>
        <div class="item item-three"></div>
        <div class="item item-four"></div>
    </div> -->
    <div #slider class="carousel">
        <div class="carousel-cell">
            <div class="hero-carousel__cell hero-carousel__cell--1">
                <div class="hero-carousel__cell__content">
                    <a [routerLink]="['/project', 1]">
                        <p>{{ 'landing.visualIdentity' | translate }}</p>
                    </a>
                </div>
                <!-- <span class="material-icons">swipe</span> -->
            </div>
        </div>
        <div class="carousel-cell">
            <div class="hero-carousel__cell hero-carousel__cell--2">
                <div class="hero-carousel__cell__content">
                    <a [routerLink]="['/project', 2]">
                        <p [innerHTML]="'landing.logoRedesign' | translate"></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="hero-carousel__cell hero-carousel__cell--3">
                <div class="hero-carousel__cell__content">
                    <a [routerLink]="['/project', 3]">
                        <p [innerHTML]="'landing.socialMediaVisions' | translate"></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="hero-carousel__cell hero-carousel__cell--4">
                <div class="hero-carousel__cell__content">
                    <a [routerLink]="['/project', 4]">
                        <p [innerHTML]="'landing.interactiveCampaigns' | translate"></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="hero-carousel__cell hero-carousel__cell--5">
                <div class="hero-carousel__cell__content">
                    <a [routerLink]="['/project', 5]">
                        <p [innerHTML]="'landing.printVisions' | translate"></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="hero-carousel__cell hero-carousel__cell--6">
                <div class="hero-carousel__cell__content">
                    <a [routerLink]="['/project', 6]">
                        <p [innerHTML]="'landing.outdoorAdDesign' | translate"></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="hero-carousel__cell hero-carousel__cell--7">
                <div class="hero-carousel__cell__content">
                    <a [routerLink]="['/project', 7]">
                        <p [innerHTML]="'landing.illustrationsAndPhotography' | translate"></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="hero-carousel__cell hero-carousel__cell--8">
                <div class="hero-carousel__cell__content">
                    <a [routerLink]="['/project', 8]">
                        <p [innerHTML]="'landing.personalBranding' | translate"></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>