<div class="container video-preview">
    <video #video [muted]="true" autoplay playsinline id="video">
        <source src="/assets/videos/video-1655737334.mp4" type="video/mp4">
    </video>
    <div #focusContainer class="logo-focus">
        <img src="/assets/logo_name.png">
        <p>Graphic Designer</p>
        <div class="action-buttons">
            <div class="action-btn-square">
                <a>Проекти</a>
            </div>
            <div class="action-btn-square">
                <a>За мен</a>
            </div>
        </div>
    </div>
</div>
<div class="container carousel-wrapper">
    <!-- <div class="hz-scroll-container">
        <div class="item item-one"></div>
        <div class="item item-two"></div>
        <div class="item item-three"></div>
        <div class="item item-four"></div>
    </div> -->
    <div class="carousel"
        data-flickity='{ "selectedAttraction": 0.03, "friction": 0.2, "prevNextButtons": false, "pageDots": false }'>
        <div class="carousel-cell">
            <div class="hero-carousel__cell hero-carousel__cell--1">
                <div class="hero-carousel__cell__content">
                    <a [routerLink]="['/project', 1]">
                        <p>Визуална идентичност</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="hero-carousel__cell hero-carousel__cell--2">
                <div class="hero-carousel__cell__content">
                    <a [routerLink]="['/project', 2]">
                        <p>Редизайн на<br>лого</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="hero-carousel__cell hero-carousel__cell--2">
                <div class="hero-carousel__cell__content">
                    <a [routerLink]="['/project', 3]">
                        <p>Визии за<br>социални мрежи</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="hero-carousel__cell hero-carousel__cell--2">
                <div class="hero-carousel__cell__content">
                    <a [routerLink]="['/project', 4]">
                        <p>Интерактивни<br>кампании</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="hero-carousel__cell hero-carousel__cell--2">
                <div class="hero-carousel__cell__content">
                    <a [routerLink]="['/project', 5]">
                        <p>Визии за<br>печатни издания</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="hero-carousel__cell hero-carousel__cell--2">
                <div class="hero-carousel__cell__content">
                    <a [routerLink]="['/project', 6]">
                        <p>Дизайн на<br>външна реклама</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="hero-carousel__cell hero-carousel__cell--2">
                <div class="hero-carousel__cell__content">
                    <a [routerLink]="['/project', 7]">
                        <p>Илюстрации и<br>фотографии</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="hero-carousel__cell hero-carousel__cell--2">
                <div class="hero-carousel__cell__content">
                    <a [routerLink]="['/project', 8]">
                        <p>Личен<br>брандинг</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>